*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #161E30;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.box1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blanchedalmond; */

}
.box2{
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
    flex-shrink: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.scorecard,.control{
    width: 80%;
    /* height: 200px; */
    background-color:rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
     display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}
.card-title{
    font-size: 2.5rem;
    font-weight: 700;
    padding: 5px;
}
.card-msg{
    font-size: 1rem;
    padding: 5px;
}
.card-main-msg{
    font-size: 1.5rem;
    color: rgb(255, 4, 4);
     padding: 5px;
}
.score-cards{
    display: flex;
    
}
.score-card{
    margin: 10px;
}
.red-score{
    text-align: center;
    font-size: 2rem;
    color:  rgb(255, 4, 4);
}
.blue-score{
    text-align: center;
    font-size: 2rem;
    color:  rgb(34, 123, 255);
}






.svg-container{
    height: 400px;
    width: 400px;
    background-color: white;
    background-image: url("hex-grid.svg");
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.2);
    

}
.circle{
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color:pink;
    border: 2px solid black;
    display: inline-block;
    cursor: pointer;
}
.c1 {
    top: 73px;
    left: 125px;
}
.c2 {
    top: 73px;
    left: 235px;
}
.c3 {
    top: 190px;
    left: 276px;
}
.c4 {
    top: 305px;
    left: 185px;
}
.c5 {
    top: 305px;
    left: 26px;
}
.c6 {
    top: 189px;
    left: -62px;
}
.c7 {
    top: 115px;
    left: 3px;
}
.c8 {
    top: 115px;
    left: 65px;
}
.c9 {
    top: 190px;
    left: 83px;
}
.c10 {
    top: 267px;
    left: 19px;
}
.c11 {
    top: 267px;
    left: -93px;
}
.c12 {
    top: 189px;
    left: -162px;
}
.c13 {
    top: 155px;
    left: -115px;
}
.c14 {
    top: 155px;
    left: -101px;
}
.c15 {
    top: 190px;
    left: -105px;
}
.c16 {
    top: 225px;
    left: -148px;
}
.c17 {
    top: 207px;
    left: 171px;
}
.c18 {
    top: 169px;
    left: 127px;
}





@media (max-width:1250px) {
    .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .box1{
    width: 100%;
    height: 60%;
    justify-content: center;
    align-items: center;
    /* background-color: blanchedalmond; */
   }
   .box2{
    width: 100%;
    height: 40%;
    /* background-color: rgb(21, 255, 0); */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 }
  .scorecard,.control{
    width: 40%;
  }


}